<!-- pop-ups -->
<app-modal #portmodal>
	<div class="app-modal-header">
		Add a port
	</div>
	<div class="app-modal-body">
		<div>
			<label>source device: </label>
			<select name="port-source" [(ngModel)]="port.source">			
				<option *ngFor="let d of devices" [value]="d.name">{{d.name}}</option>
			</select>
		</div>	
		<div>
			<label>port: </label>
			<select name="port-name" [(ngModel)]="port.name">			
				<option *ngFor="let p of ports" [value]="p.name">{{p.name}}</option>
			</select>
		</div>	
		<div>
			<label>destination device: </label>
			<select name="port-destination" [(ngModel)]="port.destination">			
				<option *ngFor="let d of devices" [value]="d.name">{{d.name}}</option>
			</select>
		</div>	
		<div>
			<label>host device: </label>
			<select name="port-host" [(ngModel)]="port.host">			
				<option *ngFor="let d of devices" [value]="d.name">{{d.name}}</option>
			</select>
		</div>	
		<h6>post body (for this port)</h6>
		<pre>{{port | json}}</pre>
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-default" (click)="portmodal.hide(); resetPort()">Close</button>
		<button type="button" class="btn btn-primary" (click)="addPort(); portmodal.hide()">Add</button>
	</div>
</app-modal>

<app-modal #comamnd>

</app-modal>

<!-- end pop-ups -->

<!-- form -->
<div>
	<label>name: </label>
	<input [(ngModel)]="toadd.name" placeholder="1106"/>
</div>
<div>
	<label>address: </label>
	<input [(ngModel)]="toadd.address" placeholder="10.0.0.0"/>
</div>
<div>
	<label>input: </label>
	<div *ngFor="let b of bool">
		<label>
		<input type="radio" name="input" [(ngModel)]="toadd.input" [value]="b.value">{{b.display}}
		</label>
	</div>
</div>
<div>
	<label>output: </label>
	<div *ngFor="let b of bool">
		<label>
		<input type="radio" name="output" [(ngModel)]="toadd.output" [value]="b.value">{{b.display}}
		</label>
	</div>
</div>
<div>
	<label>type: </label>
	<select name="types" [(ngModel)]="toadd.type">
		<option *ngFor="let dt of devicetypes" [value]="dt.name">{{dt.name}}</option>
	</select>
</div>
<div>
	<label>roles: </label>
	<select multiple name="roles" [(ngModel)]="toadd.roles">
		<option *ngFor="let r of deviceroledefinitions" [value]="r.name">{{r.name}}</option>
	</select>
</div>
<div>
	<label>powerstates: </label>
	<select multiple name="powerstates" [(ngModel)]="toadd.powerstates">
		<option *ngFor="let ps of powerstates" [value]="ps.name">{{ps.name}}</option>
	</select>
</div>
<div>
	<label>ports: </label>
	<button type="button" (click)="portmodal.show()">add port</button>
</div>
<div>
	<label>commands: </label>
	<select multiple name="commands" [(ngModel)]="toadd.commands">
		<option *ngFor="let c of commands" [value]="c.name">{{c.name}}</option>
	</select>
</div>
<!-- end form -->

<h4>post body</h4>
<pre>{{toadd | json}}</pre>

<h5>devices</h5>
<pre>{{devices | json}}</pre>
