<!-- pop-ups -->
<app-modal #portmodal>
    <div class="app-modal-header">
        Add a port
    </div>
    <div class="app-modal-body">
        <form #portForm="ngForm">
            <div class="form-group">
                <label>source device: </label>
                <select name="port-source" class="form-control" [(ngModel)]="port.source">
                    <option *ngFor="let d of devices" [value]="d.name">{{d.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>port: </label>
                <select name="port-name" class="form-control" [(ngModel)]="port.name">
                    <option *ngFor="let p of ports" [value]="p.name">{{p.name}}</option>
                </select>
            </div> <div class="form-group">
                <label>destination device: </label>
                <select name="port-destination" class="form-control" [(ngModel)]="port.destination">
                    <option *ngFor="let d of devices" [value]="d.name">{{d.name}}</option>
                </select>
            </div>
        </form>
        <h6>post body (for this port)</h6>
        <pre>{{port | json}}</pre>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="portmodal.hide(); resetPort()">close</button>
        <button type="button" class="btn btn-primary" (click)="addPort(); portmodal.hide()">add</button>
    </div>
</app-modal>

<app-modal #commandmodal>
    <div class="app-modal-header">
        Add a command
    </div>
    <div class="app-modal-body">
        <form #commandForm="ngForm">
            <div class="form-group">
                <label>name: </label>
                <select name="command-name" class="form-control" [(ngModel)]="command.name">
                    <option *ngFor="let c of commands" [value]="c.name">{{c.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>microservice: </label>
                <select name="command-microservice" class="form-control" [(ngModel)]="command.microservice">
                    <option *ngFor="let m of microservices" [value]="m.address">{{m.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>endpoint: </label>
                <select name="command-endpoint" class="form-control" [(ngModel)]="command.endpoint.name">
                    <option *ngFor="let e of endpoints" [value]="e.name">{{e.name}}</option>
                </select>
            </div>
        </form>
        <h6>post body (for this command)</h6>
        <pre>{{command | json}}</pre>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="commandmodal.hide(); resetCommand()">close</button>
        <button type="button" class="btn btn-primary" (click)="addCommand(); commandmodal.hide()">add</button>
    </div>
</app-modal>

<app-modal #selectSingleOption>
    <div class="app-modal-body">
        <div class='selection-header centered-main-content'>
            <div class='selection-modal-title'> Select the {{selectionModalInfo.Title}}</div>
        </div>
        <div class='selection-body'>
            <input id="modalinputfilter" #modalinputfilter class='modal-input' [(ngModel)]="selectionModalInfo.FilterValue" (input)="filterModalOptions(modalinputfilter.value)" placeholder='Filter' autofocus />
            <div class='modal-selection-list'>
                <div *ngFor="let option of selectionModalInfo.filteredOptions">
                    <div class='modal-selection-option' (click)='selectionModalInfo.callback(toadd, option); selectSingleOption.hide();'>{{option.display}}</div>
                </div>
            </div>
        </div>
    </div>
</app-modal>
<app-modal #setDeviceRolesModal>
    <div class="app-modal-body">
        <div class='selection-header centered-main-content'>
            <div class='selection-modal-title'>Select the device roles</div>
        </div>
        <div class='selection-body'>
            <input id="modalinputfilter" #modalinputfilter class='modal-input' [(ngModel)]="selectionModalInfo.FilterValue" (input)="filterModalOptions(modalinputfilter.value)" placeholder='Filter' autofocus />
            <div class='modal-selection-list'>
                <div *ngFor="let option of selectionModalInfo.filteredOptions">
                    <div (click)='toggleRole(option)' class='modal-selection-option' [class.selected]="option.selected">{{option.display}}</div>
                </div>
            </div>
        </div>
        <div class="confirmation-buttons">
            <button type="button" class="confirm-button btn btn-lg btn-danger" (click)="setDeviceRolesModal.hide();">Close</button>
            <button type="button" class="confirm-button btn btn-lg btn-success" (click)="setDeviceRoles();">Save</button>
        </div>
    </div>
</app-modal>

<!-- end pop-ups -->

<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Add a Device to {{currBuilding}} {{currRoom}}</h2>
    </div>
</div>

<!-- form -->
<div class="card-background centered-main-content">
    <div class="card-container">
        <div class='card non-selectable medium' [class.flipped]="toadd.editingInfo">
            <div class='card-header'>Base Info</div>
            <div class='card-content'>
                <label class='card-label'>Name: </label>
                <div class=''>
                    <input class='card-input card-value' [(ngModel)]="toadd.name" /> </div>
            </div>
            <div class='card-content'>
                <label class='card-label'>Address: </label>
                <div class=''>
                    <input class='card-input card-value' [(ngModel)]="toadd.address" /> </div>
            </div>
            <div class='card-content'>
                <label class='card-label'>Type: </label>
                <div class=''>
                    <div class='card-input card-value clickable' (click)='editCurDeviceType()'>{{toadd.type}}</div>
                </div>
            </div>
            <div class='card-content'>
                <label class='card-label'>Class: </label>
                <div class=''>
                    <div class='card-input card-value clickable' (click)='editCurDeviceClass()'>{{toadd.class}} </div>
                </div>
            </div>
        </div>
        <div class='card non-selectable medium'>
            <div class='card-header'>
                <div>Classification</div>
            </div>
            <div class='card-content'>
                <label class='card-label'>Input: </label>
                <div class='card-value'>
                    <input type="checkbox" [checked]="toadd.input" (change)="toadd.input = !toadd.input" />
                </div>
            </div>
            <div class='card-content'>
                <label class='card-label'>Output: </label>
                <div class='card-value'>
                    <input type="checkbox" [checked]="toadd.output" (change)="toadd.output = !toadd.output" />
                </div>
            </div>
        </div>
        <div class='card non-selectable medium'>
            <div class='card-header'>Roles
                <div class='icon-container'>
                </div>
            </div>
            <div class='card-content'>
                <ul class='simple-list'>
                    <li *ngFor="let r of toadd.roles">{{r}}</li>
                    <li class="material-icons selectable add-button" (click)="editCurDeviceRoles()">add</li>
                </ul>
            </div>
        </div>
        <div class='fill-card'>
            <div *ngIf="!toadd.class">
                <div class='card-header notice'>Select a Class to Configure Ports</div>
            </div>
            <div *ngIf="toadd.class">
                <div class='card-header'>Port Configuration
                </div>
                <table *ngIf="!toadd.roles.includes('VideoSwitcher')" class='port-table'>
                    <tr class='port-table'>
                        <th class='port-table'>Port Name</th>
                        <th class='port-table'>Source</th>
                        <th class='port-table'>Destination</th>
                    </tr>
                    <tr class='port-table' *ngFor="let p of toadd.ports">
                        <td class='port-table'>{{p.name}}</td>
                        <td class='port-table'>{{p.source}}<div (click)="setSource(p)" class="material-icons edit-button selectable">mode_edit</div></td>
                        <td class='port-table'>{{p.destination}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class='row add-buttons'>
    <button type="button" class='btn btn-lg btn-success confirm-button' (click)="postData()">Save</button>
    <button type="button" class='btn btn-lg btn-danger confirm-button'>Cancel</button>
</div>
<h4>post body</h4>
<pre>{{toadd | json}}</pre>

<!-- 
<h5>devices</h5>
<pre>{{devices | json}}</pre>
-->
