<div>
	<label>name: </label>
	<input [(ngModel)]="toadd.name" placeholder="1106"/>
</div>
<div>
	<label>address: </label>
	<input [(ngModel)]="toadd.address" placeholder="10.0.0.0"/>
</div>
<div>
	<label>input: </label>
	<div *ngFor="let b of bool">
		<label>
		<input type="radio" name="input" [(ngModel)]="toadd.input" [value]="b.value">{{b.display}}
		</label>
	</div>
</div>
<div>
	<label>output: </label>
	<div *ngFor="let b of bool">
		<label>
		<input type="radio" name="output" [(ngModel)]="toadd.output" [value]="b.value">{{b.display}}
		</label>
	</div>
</div>
<div>
	<label>responding: </label>
	<div *ngFor="let b of bool">
		<label>
		<input type="radio" name="responding" [(ngModel)]="toadd.responding" [value]="b.value">{{b.display}}
		</label>
	</div>
</div>

<h4>post body</h4>
<pre>{{toadd | json}}</pre>
