<div class="main-wrapper">
    <mat-toolbar>
        <mat-toolbar-row class='header'>
            <h1>Database Tool</h1>
        </mat-toolbar-row>
    </mat-toolbar>

    <nav mat-tab-nav-bar class="navbar" id="NavBar">
        <a mat-tab-link *ngFor="let link of S.Links" routerLink="/{{link}}" (click)="activeLink = link" [active]="activeLink == link" matTooltip="{{S.HomeTips[link]}}" [matTooltipShowDelay]=S.VerySlow> {{S.LinkTitles[link]}} </a>
        <a mat-tab-link href="https://docs.google.com/document/d/1Lpn82blaL20IS1goGGZWzPDTLcCdiGbNEOP6H41xYnA/edit?usp=sharing" target="_blank">Instructions</a>
        <a mat-tab-link href="https://docs.google.com/spreadsheets/d/1NO0sru6iFE8zVzjtwGtCMDbnnueeuvotI0cpLsL9ypw/edit?usp=sharing" target="_blank">Tables</a>
    </nav>

    <body>
        <div class="wrapper">
            <router-outlet></router-outlet>
            <div class="push"></div>
        </div>
    </body>

    <footer class="footer">
        <h5>Brigham Young University - OIT</h5>
    </footer>
</div>