<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">AV-DB-Tool</a>
		</div>
	</div>
	<ul class="nav navbar-nav">
		<li [routerLinkActive]="['active']"><a routerLink="/config" routerLinkActive="active">config</a></li>
		<li [routerLinkActive]="['active']"><a routerLink="/room-selection" routerLinkActive="active">room selection</a></li>
		<li [routerLinkActive]="['active']"><a routerLink="/room-editor" routerLinkActive="active">room editor</a></li>
		<li [routerLinkActive]="['active']"><a routerLink="/add-device" routerLinkActive="active">add device</a></li>
	</ul>
</nav>
<router-outlet></router-outlet>
