<div fxLayout="row">
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of devicetypes">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of powerstates">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of ports">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of commands">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of microservices">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of endpoints">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
	<div fxFlex>
		<table>
			<th>Name</th><th>Description</th>
			<tr *ngFor="let v of deviceroledefinitions">
				<td>{{v.name}}</td>
				<td>{{v.description}}</td>
			</tr>
		</table>
	</div>
<div>
<!-- Test how json response and each variable looks

<pre>{{configuration | json}}</pre> 

<h2>DeviceTypes</h2>
<pre>{{devicetypes | json}}</pre>

<h2>powerstates</h2>
<pre>{{powerstates | json}}</pre>

<h2>ports</h2>
<pre>{{ports | json}}</pre>

<h2>commands</h2>
<pre>{{commands | json}}</pre>

<h2>microservices</h2>
<pre>{{microservices | json}}</pre>

<h2>endpoints</h2>
<pre>{{endpoints | json}}</pre>

<h2>deviceroledefinitions</h2>
<pre>{{deviceroledefinitions | json}}</pre>
-->
