<div class="row">
	<div class="col-md-2 left">
		<ul class="nav nav-pills nav-stacked" role="tablist">
			<li [ngClass]="{ 'active': selectedDT }" (click)="setActive('dt')"><a>devicetypes</a></li>
			<li [ngClass]="{ 'active': selectedPS }" (click)="setActive('ps')"><a>powerstates</a></li>
			<li [ngClass]="{ 'active': selectedP }" (click)="setActive('p')"><a>ports</a></li>
			<li [ngClass]="{ 'active': selectedC }" (click)="setActive('c')"><a>commands</a></li>
			<li [ngClass]="{ 'active': selectedM }" (click)="setActive('m')"><a>microservices</a></li>
			<li [ngClass]="{ 'active': selectedE }" (click)="setActive('e')"><a>endpoints</a></li>
			<li [ngClass]="{ 'active': selectedDRD }" (click)="setActive('drd')"><a>device role definitions</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<div *ngIf="selectedDT">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of devicetypes" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedPS">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of powerstates" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedP">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of ports" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedC">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of commands" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedM">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of microservices" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedE">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of endpoints" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="selectedDRD">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li *ngFor="let v of deviceroledefinitions" [class.active]="v === selected" (click)="onSelect(v)"><a>{{v.name}}</a></li>
			</ul>
		</div>
	</div>
	<div *ngIf="selected" class="col-md-8">
		<div><label>Name: </label> {{selected.name}}</div>
		<div><label>Description: </label> {{selected.description}}</div>
		<div *ngIf="selectedC"><label>Priority: </label> {{selected.priority}}</div>
		<div *ngIf="selectedM"><label>Address: </label> {{selected.address}}</div>
		<div *ngIf="selectedE"><label>Path: </label> {{selected.path}}</div>
		<div><label>ID: </label> {{selected.id}}</div>
	</div>
</div>
<!-- Test how json response and each variable looks 

<pre>{{configuration | json}}</pre>

<h2>DeviceTypes</h2>
<pre>{{devicetypes | json}}</pre>

<h2>powerstates</h2>
<pre>{{powerstates | json}}</pre>

<h2>ports</h2>
<pre>{{ports | json}}</pre>

<h2>commands</h2>
<pre>{{commands | json}}</pre>

<h2>microservices</h2>
<pre>{{microservices | json}}</pre>

<h2>endpoints</h2>
<pre>{{endpoints | json}}</pre>

<h2>deviceroledefinitions</h2>
<pre>{{deviceroledefinitions | json}}</pre> 
-->
