<form #roomSelectionForm="ngForm" novalidate>
	<div class="form-group form-inline">
		<div class="form-group">
			<label>Select a building</label>
			<select name="buildings" class="form-control" (change)="getRooms($event.target.value)" [(ngModel)]="currBuilding">
				<option *ngFor="let building of buildings" [value]="building.shortname">{{building.name}}</option>	
			</select>
		</div>
		<div class="form-group">
			<label>or add a building</label>
			<a routerLink="/add-building" routerLinkActive="active" class="btn btn-default">Go!</a>
		</div>
	</div>
	<div *ngIf="rooms" class="form-group form-inline">
		<div class="form-group">
			<label>Select a room</label>
			<select name="rooms " class="form-control " [(ngModel)]="currRoom ">
				<option *ngFor="let room of rooms " [value]="room.name ">{{room.name}}</option>	
			</select>
		</div>
		<div class="form-group">
			<label>or add a room</label>
			<button class="btn btn-default" (click)="switchToAddRoom()">Go!</button>
		</div>
	</div>
	<div *ngIf="currBuilding && !rooms">
		<label>This builidng has no rooms.</label>
		<button class="btn btn-default" (click)="switchToAddRoom()">Add one!</button>
	</div>
	<div *ngIf="currRoom" class="form-group form-inline">
		<button class="btn btn-default" (click)="switchToRoom()">View room</button>
		<button class="btn btn-default" (click)="switchToAddDevice()">Add Device</button>
	</div>
</form>
