<div class="row">
	<div class="col-md-2 left">
		<ul class="nav nav-pills nav-stacked" role="tablist">
			<li *ngFor="let d of devices" [ngClass]="{'active': d === currDevice}" (click)="selectDevice(d)"><a>{{d.name}}</a></li>
		</ul>
	</div>
	<div *ngIf="currDevice" class="col-md-10">
		<div><label>Name: </label> {{currDevice.name}}</div>
		<div><label>Address: </label> {{currDevice.address}}</div>
		<div><label>Input: </label> {{currDevice.input}}</div>
		<div><label>Output: </label> {{currDevice.output}}</div>
		<div><label>Type: </label> {{currDevice.type}}</div>
		<div *ngIf="currDevice.power"><label>Power: </label> {{currDevice.power}}</div>
		<div>
			<label>Roles: </label>
			<ul>
				<li *ngFor="let r of currDevice.roles">{{r}}</li>
			</ul>
		</div>
		<div *ngIf="currDevice.powerstates">
			<label>Powerstates: </label>
			<ul>
				<li *ngFor="let p of currDevice.powerstates">{{p}}</li>
			</ul>
		</div>
		<div><label>Responding: </label> {{currDevice.responding}}</div>
		<div *ngIf="currDevice.ports">
			<popover-content #portsPop placement="right" [closeOnMouseOutside]="true">
				<div><label>source:</label> {{selectedPort.source}}</div>
				<div><label>destination:</label> {{selectedPort.destination}}</div>
				<div><label>host:</label> {{selectedPort.host}}</div>
			</popover-content>
			<label>Ports: </label>
			<ul class="" role="tablist">
				<li *ngFor="let p of currDevice.ports"><a on-mouseover="selectPort(p)" [popover]="portsPop" [popoverOnHover]="true">{{p.name}}</a></li>
			</ul>
		</div>
		<div *ngIf="currDevice.commands">
			<popover-content #commandsPop placement="right" [closeOnMouseOutside]="true">
				<div><label>endpoint name:</label> {{selectedCommand.endpoint.name}}</div>
				<div><label>endpoint path:</label> {{selectedCommand.endpoint.path}}</div>
				<div><label>microservice:</label> {{selectedCommand.microservice}}</div>
			</popover-content>
			<label>Commands: </label>
			<ul class="" role="tablist">
				<li *ngFor="let c of currDevice.commands"><a on-mouseover="selectCommand(c)" [popover]="commandsPop" [popoverOnHover]="true">{{c.name}}</a></li>
			</ul>
		</div>
	</div>
</div>

<!--
<h3>Room Data</h3>
<pre>
"id": {{id}},
"name": {{name}},
"description": {{description}},
"configurationID": {{configurationID}},
"roomDesignation": {{roomDesignation}}
</pre>

<h3>Building</h3>
<pre>{{ building | json }}</pre>

<h3>Devices</h3>
<pre>{{ devices | json }}</pre>

<h3>Configuration</h3>
<pre>{{ configuration | json }}</pre>


<h3>Raw Response</h3>
<pre>{{ roomData | json }}</pre> -->
