<form #roomSelectionForm="ngForm" class="text-center" novalidate>
    <div class='card-container'>
        <div class='card room flex-center-vertically' [class.selected]='building.selected' *ngFor="let building of buildings" (click)="getRooms(building)">
            <div class='main-name'>{{building.shortname}}</div>
            <div class='sub-name'>{{building.name}}</div>
        </div>
    </div>
    <hr class='card-group-divider' />
    <div *ngIf="currBuilding">
        <div class='card-container'>
            <div class='card room flex-center-vertically' *ngFor="let room of rooms" (click)="switchToRoom(room)">
                <div class='main-name'>{{room.name}}</div>
                <div class='sub-name'>{{room.description}}</div>
            </div>
            <div class='card room flex-center-vertically' [class.selected]='d.selected' (click)='switchToAddRoom()'>
                <div class='main-name small add-button material-icons'>add</div>
            </div>
        </div>

    </div>
    <div *ngIf="currRoom" class="form-group form-inline">
        <button class="btn btn-default" (click)="switchToRoom()">View room</button>
        <button class="btn btn-default" (click)="switchToAddDevice()">Add Device</button>
    </div>
</form>
