<div class="container top centered-main-content">
    <div class="jumbotron jumbotron-fluid customjumbo ">
        <div class="row flex-center-horizontally">
            <div class="header-content header-title">
                <div>{{currBuilding}} {{name}}</div>
            </div>
            <div class="header-content">
                <div class='header-content'>
                    <label class='header-label'>Description:</label> {{description}}</div>
                <div class='header-content' *ngIf="configuration">
                    <label class='header-label'>Room Configuration:</label> {{configuration.name}}</div>
                <div class='header-content'>
                    <label class='header-label'>Room Designation:</label> {{roomDesignation}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="devices" class="row card-background centered-main-content">
    <div class="col-md-3 left overflow-scroll bottom">
        <div class='card-container'>
            <div class='card small room flex-center-vertically' [class.selected]='d.selected' (click)='selectDevice(d)' *ngFor="let d of devices">
                <div class='main-name small'>{{d.name}}</div>
            </div>
            <div class='card small room flex-center-vertically' [class.selected]='d.selected' (click)='createDevice()'>
                <div class='main-name small add-button material-icons'>add</div>
            </div>
        </div>
    </div>
    <div *ngIf="devices && currDevice && currDevice.name" class="col-md-8 card-container">
        <div class='flippable-card medium'>
            <div class='card non-selectable medium front' [class.flipped]="currDeviceState.editingInfo">
                <div class='card-header'>Base Info
                    <div class="edit-icon material-icons selectable" (click)='editDevice("editingInfo")'>mode_edit</div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Name: </label>
                    <div class='card-value'> {{currDevice.name}}</div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Address: </label>
                    <div class='card-value'>{{currDevice.address}}</div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Type: </label>
                    <div class='card-value'>{{currDevice.type}}</div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Class: </label>
                    <div class='card-value'>{{currDevice.class}}</div>
                </div>
            </div>
            <div class='card non-selectable medium back' [class.flipped]="currDeviceState.editingInfo">
                <div class='card-header'>Base Info
                    <div class='icon-container'>
                        <div class="edit-icon material-icons selectable" (click)='commitDeviceEdits()'>check</div>
                        <div class="edit-icon material-icons selectable" (click)='cancelDeviceEdits("editingInfo")'>clear</div>
                    </div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Name: </label>
                    <div class=''>
                        <input class='card-input card-value' [(ngModel)]="currDeviceState.edits.name" /> </div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Address: </label>
                    <div class=''>
                        <input class='card-input card-value' [(ngModel)]="currDeviceState.edits.address" /> </div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Type: </label>
                    <div class=''>
                        <div class='card-input card-value' (click)='editCurDeviceType()'>{{currDeviceState.edits.type}}</div>
                    </div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Class: </label>
                    <div class=''>
                        <div class='card-input card-value' (click)='editCurDeviceClass()'>{{currDeviceState.edits.class}} </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='flippable-card medium'>
            <div class='card non-selectable medium front' [class.flipped]="currDeviceState.editingClass">
                <div class='card-header'>Classification
                    <div class="edit-icon material-icons selectable" (click)="editDevice('editingClass')">mode_edit</div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Input: </label>
                    <div class='card-value'>{{currDevice.input}}</div>
                </div>

                <div class='card-content'>
                    <label class='card-label'>Output: </label>
                    <div class='card-value'>{{currDevice.output}}</div>
                </div>
            </div>
            <div class='card non-selectable medium back' [class.flipped]="currDeviceState.editingClass">
                <div class='card-header'><div>Classification</div>
                    <div class='icon-container'>
                        <div class="edit-icon material-icons selectable" (click)='commitDeviceEdits()'>check</div>
                        <div class="edit-icon material-icons selectable" (click)='cancelDeviceEdits("editingClass")'>clear</div>
                    </div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Input: </label>
                    <div class='card-value'><input type="checkbox" [checked]="currDeviceState.edits.input" (change)="currDeviceState.edits.input = !currDeviceState.edits.input"/></div>
                </div>
                <div class='card-content'>
                    <label class='card-label'>Output: </label>
                    <div class='card-value'><input type="checkbox" [checked]="currDeviceState.edits.output" (change)="currDeviceState.edits.output = !currDeviceState.edits.output"/></div>
                </div>
            </div>
        </div>
        <div class='flippable-card medium'>
            <div class='card non-selectable medium front' [class.flipped]="currDevice.editingRoles">
                <div class='card-header'>Roles
                    <div class="edit-icon material-icons selectable"(click)="editCurDeviceRoles()">mode_edit</div>
                </div>
                <div class='card-content'>
                    <ul class='simple-list'>
                        <li *ngFor="let r of currDevice.roles">{{r}}</li>
                    </ul>
                </div>
            </div>
            <div class='card non-selectable medium back' [class.flipped]="currDevice.editingRoles">
                <div class='card-header'>Roles
                    <div class='icon-container'>
                        <div class="edit-icon material-icons selectable" (click)='commitDeviceEdits()'>check</div>
                        <div class="edit-icon material-icons selectable" (click)='cancelDeviceEdits("editingRoles")'>clear</div>
                    </div>
                </div>
                <div class='card-content'>
                    <ul class='simple-list'>
                        <li *ngFor="let r of currDevice.roles">{{r}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='fill-card' *ngIf="currDevice.ports">
            <div class='card-header'>Port Configuration
                <div class="edit-icon material-icons selectable">mode_edit</div>
            </div>
            <table *ngIf="!currDevice.roles.includes('VideoSwitcher')" class='port-table'>
                <tr class='port-table'>
                    <th class='port-table'>Port Name</th>
                    <th class='port-table'>Source</th>
                    <th class='port-table'>Destination</th>
                </tr>
                <tr class='port-table' *ngFor="let p of currDevice.ports">
                    <td class='port-table'>{{p.name}}</td>
                    <td class='port-table'>{{p.source}}</td>
                    <td class='port-table'>{{p.destination}}</td>
                </tr>
            </table>
            <div class='switcher-ports-container' *ngIf="currDevice.roles.includes('VideoSwitcher')">
                <table class='port-table switcher'>
                    <tr class='port-table'>
                        <th class='port-table' colspan='2'>In ports</th>
                    </tr>
                    <tr class='port-table'>
                        <th class='port-table'>Port</th>
                        <th class='port-table'>Device</th>
                    </tr>
                    <tr class='port-table' *ngFor="let p of currDevice.switcherPortsIn">
                        <td class='port-table'>{{p.name}}</td>
                        <td class='port-table'>{{p.device}}</td>
                    </tr>
                </table>
                <table class='port-table switcher'>
                    <tr class='port-table'>
                        <th class='port-table' colspan='2'>Out ports</th>
                    </tr>
                    <tr class='port-table'>
                        <th class='port-table'>Port</th>
                        <th class='port-table'>Device</th>
                    </tr>
                    <tr class='port-table' *ngFor="let p of currDevice.switcherPortsOut">
                        <td class='port-table'>{{p.name}}</td>
                        <td class='port-table'>{{p.device}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--
            <div *ngIf="currDevice.ports">
                <popover-content #portsPop placement="right" [closeOnMouseOutside]="true">
                    <div>
                        <label>source:</label> {{selectedPort.source}}</div>
                    <div>
                        <label>destination:</label> {{selectedPort.destination}}</div>
                    <div>
                        <label>host:</label> {{selectedPort.host}}</div>
                </popover-content>
                <label>Ports: </label>
                <ul class="" role="tablist">
                    <li *ngFor="let p of currDevice.ports">
                        <a on-mouseover="selectPort(p)" [popover]="portsPop" [popoverOnHover]="true">{{p.name}}</a>
                    </li>
                </ul>
            </div>
            --!>
            <div *ngIf="currDevice.commands && detailView">
                <popover-content #commandsPop placement="right" [closeOnMouseOutside]="true">
                    <div>
                        <label>endpoint name:</label> {{selectedCommand.endpoint.name}}</div>
                    <div>
                        <label>endpoint path:</label> {{selectedCommand.endpoint.path}}</div>
                    <div>
                        <label>microservice:</label> {{selectedCommand.microservice}}</div>
                </popover-content>
                <label>Commands: </label>
                <ul class="" role="tablist">
                    <li *ngFor="let c of currDevice.commands">
                        <a on-mouseover="selectCommand(c)" [popover]="commandsPop" [popoverOnHover]="true">{{c.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!devices">
    <p>There are no devices in this room yet.</p>
</div>

<!--
<h3>Room Data</h3>
<pre>
"id": {{id}},
"name": {{name}},
"description": {{description}},
"configurationID": {{configurationID}},
"roomDesignation": {{roomDesignation}}
</pre>

<h3>Building</h3>
<pre>{{ building | json }}</pre>

<h3>Devices</h3>
<pre>{{ devices | json }}</pre>

<h3>Configuration</h3>
<pre>{{ configuration | json }}</pre>


<h3>Raw Response</h3>
<pre>{{ roomData | json }}</pre> -->

        <app-modal #selectSingleOption>
            <div class="app-modal-body">
                <div class='selection-header centered-main-content'>
                    <div class='selection-modal-title'> Select the {{selectionModalInfo.Title}}</div>
                </div>
                <div class='selection-body'>
                    <input id="modalinputfilter" #modalinputfilter class='modal-input' [(ngModel)]="selectionModalInfo.FilterValue" (input)="filterModalOptions(modalinputfilter.value)" placeholder='Filter' autofocus />
                    <div class='modal-selection-list'>
                        <div *ngFor="let option of selectionModalInfo.filteredOptions">
                            <div class='modal-selection-option' (click)='selectionModalInfo.callback(currDeviceState, option); selectSingleOption.hide();'>{{option.display}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </app-modal>

        <app-modal #confirmCommit>
            <div class="app-modal-body">
                <div class='selection-header centered-main-content'>
                    <div class='selection-modal-title'>Confirm Changes</div>
                </div>
                <div class='warning-body'>
                    <div class='warning-text'>
                        Any changes will affect how devices behave and will take effect immediately. Are you sure you want to save these changes?
                    </div>
                    <div class="confirmation-buttons">
                        <button (click)="saveChanges()" class="confirm-button btn btn-lg btn-danger">Save</button>
                        <button (click)="confirmCommit.hide()" class="confirm-button btn btn-lg btn-success">Cancel</button>
                    </div>
                </div>
            </div>
        </app-modal>

        <app-modal #noCommitsModal>
            <div class="app-modal-body">
                <div class='selection-header centered-main-content'>
                    <div class='selection-modal-title'>No changes to save</div>
                </div>
                <div class='warning-body'>
                    <div class="confirmation-buttons">
                        <button (click)="noCommitsModal.hide()" class="confirm-button btn btn-lg btn-success">Close</button>
                    </div>
                </div>
            </div>
        </app-modal>

        <app-modal #successCommit>
            <div class="app-modal-body">
                <div class='selection-header centered-main-content'>
                    <div class='selection-modal-title'>Changes saved</div>
                </div>
                <div class='warning-body'>
                    <div class="confirmation-buttons">
                        <button (click)="successCommit.hide(); resetCards()" class="confirm-button btn btn-lg btn-success">Close</button>
                    </div>
                </div>
            </div>
        </app-modal>

        <app-modal #setDeviceRoles>
            <div class="app-modal-body">
                <div class='selection-header centered-main-content'>
                    <div class='selection-modal-title'>Select the device roles</div>
                </div>
                <div class='selection-body'>
                    <input id="modalinputfilter" #modalinputfilter class='modal-input' [(ngModel)]="selectionModalInfo.FilterValue" (input)="filterModalOptions(modalinputfilter.value)" placeholder='Filter' autofocus />
                    <div class='modal-selection-list'>
                        <div *ngFor="let option of selectionModalInfo.filteredOptions">
                            <div class='modal-selection-option'>{{option.display}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </app-modal>

