<div fxLayout="row">
	<div fxFlex>
		<select name="buildings" (change)="getRooms($event.target.value)" [(ngModel)]="currBuilding">
			<option *ngFor="let building of buildings" [value]="building.shortname">
				{{building.name}}
			</option>	
		</select>
		<p> {{currBuilding}} </p>
	</div>

	<div fxFlex>
		<select name="rooms" [(ngModel)]="currRoom">
			<option *ngFor="let room of rooms" [value]="room.name">
				{{room.name}}
			</option>	
		</select>
		<p> {{currRoom}} </p>
	</div>
</div>

<pre>{{ buildings | json}}</pre>
<pre>{{ rooms | json}}</pre>
