@import 'src/db-theme.scss';
@mixin db-tool-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
}

.home-button-a {
    /* color: #ffffff !important; */
    text-transform: uppercase;
    /* background: #1d9c43; */
    padding: 15px;
    /* border: 1px solid #494949 !important; */
    border-radius: 6px;
    display: inline-block;
    /* cursor: pointer; */
    width: 280px;
}

.home-button-b {
    /* color: #ffffff !important; */
    text-transform: uppercase;
    /* background: #0066ff; */
    padding: 15px;
    /* border: 1px solid #494949 !important; */
    border-radius: 6px;
    display: inline-block;
    margin: auto;
    /* cursor: pointer; */
    width: 180px;
}

.home-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 100%;
    overflow: auto;
    max-width: 2000px;
    min-height: 100%;
}

.home-container-half {
    /* border-radius: 5px; */
    background-color: #f2f2f2;
    /* padding: 5px; */
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
    min-height: 100%;
}

.home-row {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
}

.home-row-half {
    /* border-radius: 5px; */
    background-color: #f2f2f2;
    /* padding: 5px; */
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
    /* min-height: 100%; */
}

.home-row-center {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    /* margin-bottom: 10px; */
    width: 100%;
    align-items: flex-end;
    display: flex;
}

mat-select {
    padding: 5px;
}

mat-form-field.a {
    margin-left: 18%;
    width: 22%;
}

mat-form-field.b {
    margin-left: 8%;
    width: 10%;
    /* padding-top: 2px; */
}

mat-form-field.c {
    margin-left: 2%;
    width: 25%;
    padding-bottom: 2px;
}

.num {
    margin-left: 2%;
    width: 100px;
    padding-bottom: 2px;
}