<div class="home-container">
    <div class="home-row">
        <a (click)="_parent.Route(S.Links[1])" mat-raised-button matTooltip="{{S.HomeTips['walkthrough']}}" [matTooltipShowDelay]=S.Slow color="primary" class="home-button-a">Walkthrough</a>
    </div>
    <div class="home-row">
        <a (click)="_parent.Route(S.Links[2])" mat-raised-button matTooltip="{{S.HomeTips['building']}}" [matTooltipShowDelay]=S.Slow color="accent" class="home-button-b">Building</a>
        <a (click)="_parent.Route(S.Links[3])" mat-raised-button matTooltip="{{S.HomeTips['room']}}" [matTooltipShowDelay]=S.Slow color="accent" class="home-button-b">Room</a>
        <a (click)="_parent.Route(S.Links[4])" mat-raised-button matTooltip="{{S.HomeTips['device']}}" [matTooltipShowDelay]=S.Slow color="accent" class="home-button-b">Device</a>
        <a (click)="_parent.Route(S.Links[5])" mat-raised-button matTooltip="{{S.HomeTips['uiconfig']}}" [matTooltipShowDelay]=S.Slow color="accent" class="home-button-b">UI Config</a>
    </div>
</div>