<div class="column">
    <!-- ID -->
    <mat-form-field #roomID>
        <mat-label>ID</mat-label>
        <input matInput type="text" [(ngModel)]="data.room._id" required>
    </mat-form-field>
    <!-- NAME -->
    <mat-form-field #roomName>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="data.room.name" required>
    </mat-form-field>
    <!-- DESCRIPTION -->
    <mat-form-field #roomDescription>
        <mat-label>Description</mat-label>
        <input matInput type="text" [(ngModel)]="data.room.description">
    </mat-form-field>
    <!-- CONFIGURATION -->
    <mat-form-field>
        <mat-label>Configuration</mat-label>
        <mat-select required matInput [(ngModel)]="data.room.configuration._id">
            <mat-option *ngFor="let c of configurationList" [value]="c._id">{{c._id}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- DESIGNATION -->
    <mat-form-field>
        <mat-label>Designation</mat-label>
        <mat-select required matInput [(ngModel)]="data.room.designation">
            <mat-option *ngFor="let d of designationList" [value]="d">{{d.charAt(0).toUpperCase() + d.slice(1)}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- TAGS -->
    <mat-form-field class="chips">
        <mat-label>Tags</mat-label>
        <mat-chip-list #roomTags>
            <mat-chip *ngFor="let tag of data.room.tags" [selectable]="selectable" [removable]="removable" (removed)="RemoveChip(tag, true)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input type="text" matInput [matChipInputFor]="roomTags" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="AddChip($event, true)">
        </mat-chip-list>
    </mat-form-field>
    <!-- BUTTONS -->
    <div class="row">
        <button mat-button class="button submit" (click)="SubmitRoom()">{{data.roomExists ? "UPDATE" : "ADD"}}</button>
        <button mat-button class="button delete" (click)="DeleteRoom()" [disabled]="!data.roomExists">DELETE</button>
        <button mat-button class="button close" (click)="close()">CLOSE</button>
    </div>
</div>