@import 'src/db-theme.scss';
.column {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    &.close {
        justify-content: flex-start;
    }
}

.button {
    margin: 10px;
    &.delete {
        color: red;
        &:hover {}
    }
    &.submit {
        color: $accent;
        &:hover {
            color: $primary;
        }
    }
    &.close {
        margin-left: 15px;
        justify-self: flex-end;
        float: right;
    }
}

mat-form-field {
    min-width: 320px;
    width: 320px;
}