<mat-divider></mat-divider>

<h4 style="font-weight: 500;">Panel Information</h4>
<section class="ui-row panel">
    <!-- PRESET NAME -->
    <mat-form-field class="a">
        <mat-label>Panel Display Name</mat-label>
        <input required matInput type="text" [(ngModel)]="panel.preset" (blur)="AddPreset()">
    </mat-form-field>

    <!-- UI PATH -->
    <mat-form-field class="a">
        <mat-label>UI Path</mat-label>
        <mat-select required matInput [(ngModel)]="panel.uipath">
            <mat-option [value]="'/blueberry'" matTooltip="{{S.UIPaths['/blueberry']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']">Blueberry</mat-option>
            <mat-option [value]="'/cherry'" matTooltip="{{S.UIPaths['/cherry']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']">Cherry</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- PRESET ICON -->
    <div class="icon preset" *ngIf="panel.preset != null && panel.uipath != '/cherry'">
        <mat-label>Main Icon: </mat-label>
        <button mat-icon-button (click)="ChangeIcon(null, preset)"><mat-icon>{{preset.icon}}</mat-icon></button>
    </div>

    <!-- SHARING TOGGLE -->
    <div class="icon preset" *ngIf="panel.preset != null && panel.uipath != '/cherry' && config.outputConfiguration != null && config.outputConfiguration.length > 1">
        <mat-slide-toggle (change)="ToggleSharing(panel, $event.checked)" [checked]="panel.features.includes('share')" [disabled]="config.outputConfiguration.length <= 1">{{S.UISharing[panel.features.includes("share")]}}</mat-slide-toggle>
    </div>
</section>

<mat-divider></mat-divider>

<h4 style="font-weight: 500;">Displays</h4>
<section>
    <!-- DISPLAYS -->
    <div class="ui-row panel">
        <p class="row-label short">Displays Controlled:</p>
        <div class="io-list display">
            <div class="icon display" *ngFor="let d of config.outputConfiguration">
                <ng-container *ngIf="!InputAndTypeMatch(d.name, 'Shure Microphone')">
                    <mat-checkbox [checked]="preset.displays.includes(d.name)" (change)="UpdatePresetDisplays(preset, d.name, $event.checked);">
                        {{d.name}}
                    </mat-checkbox>
                    <ng-container *ngIf="panel.uipath === '/cherry'">
                        <mat-label class="icon">Icon: </mat-label>
                        <button mat-icon-button (click)="ChangeIcon(d)"><mat-icon>{{d.icon}}</mat-icon></button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- AUDIO DEVICES -->
    <div class="ui-row panel">
        <p class="row-label short">Displays with Audio:</p>
        <div class="io-list display">
            <div class="icon display" *ngFor="let d of config.outputConfiguration">
                <mat-checkbox *ngIf="!InputAndTypeMatch(d.name, 'Shure Microphone')" [checked]="preset.audioDevices.includes(d.name)" (change)="UpdateAudioDevices(preset, d.name, $event.checked);">
                    {{d.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>

    <!-- SHAREABLE DISPLAYS -->
    <div class="ui-row panel" *ngIf="panel.features.includes('share') && panel.uipath === '/blueberry'">
        <p class="row-label short">Shareable Displays:</p>
        <div class="io-list display">
            <div class="icon display" *ngFor="let d of config.outputConfiguration">
                <mat-checkbox *ngIf="!InputAndTypeMatch(d.name, 'Shure Microphone')" [checked]="preset.shareableDisplays.includes(d.name)" (change)="UpdateShareableDisplays(preset, d.name, $event.checked);">
                    {{d.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>
</section>

<mat-divider></mat-divider>

<!-- INPUTS -->
<h4 style="font-weight: 500;">Inputs</h4>
<section class="ui-row input">
    <mat-list *ngFor="let type of InputDeviceTypes">
        <h4 style="font-weight: 500;">{{type.display_name}}s</h4>
        <ng-container *ngFor="let i of config.inputConfiguration">
            <mat-list-item *ngIf="InputAndTypeMatch(i.name, type._id)">
                <mat-checkbox class="input" [checked]="preset.inputs.includes(i.name)" (change)="UpdatePresetInputs(preset, i.name, $event.checked);">
                    {{i.name}}
                </mat-checkbox>
                <mat-label class="icon">Icon: </mat-label>
                <button mat-icon-button (click)="ChangeIcon(i)"><mat-icon>{{i.icon}}</mat-icon></button>
            </mat-list-item>
        </ng-container>
    </mat-list>
</section>

<section *ngIf="mics != null && mics.length > 0">
    <mat-divider></mat-divider>
    <!-- <ng-container *ngIf="panel.uipath === '/blueberry'">
        <h4 style="font-weight: 500;">Independent Audio Devices</h4>
        INDEPENDENT AUDIO DEVICES
        <div class="ui-row panel">
            <p class="row-label short">Microphones:</p>
            <div class="io-list display">
                <div class="icon display" *ngFor="let m of config.outputConfiguration">
                    <mat-checkbox class="mic" *ngIf="InputAndTypeMatch(m.name, 'Shure Microphone')" [checked]="preset.independentAudioDevices.includes(m)" (change)="UpdateIndependentAudioDevices(preset, m, $event.checked);">
                        {{m.name}}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </ng-container> -->

    <!-- <ng-container *ngIf="panel.uipath === '/cherry'"> -->
    <h4 style="font-weight: 500;">Independent Audio Devices</h4>
    <!-- INDEPENDENT AUDIO DEVICES -->
    <section class="ui-row input">
        <mat-list>
            <h4 style="font-weight: 500;">Microphones</h4>
            <ng-container *ngFor="let m of config.outputConfiguration">
                <mat-list-item *ngIf="InputAndTypeMatch(m.name, 'Shure Microphone')">
                    <mat-checkbox class="input" [checked]="preset.independentAudioDevices.includes(m)" (change)="UpdateIndependentAudioDevices(preset, m, $event.checked);">
                        {{m.name}}
                    </mat-checkbox>
                    <mat-label class="icon" *ngIf="panel.uipath === '/cherry'">Icon: </mat-label>
                    <button mat-icon-button *ngIf="panel.uipath === '/cherry'" (click)="ChangeIcon(m)"><mat-icon>{{m.icon}}</mat-icon></button>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </section>
    <!-- </ng-container> -->
</section>