@import 'src/db-theme.scss';
.ui-container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    margin-top: 2%;
    max-height: 100%;
    width: 76%;
    max-width: 76%;
    overflow: auto;
}

.ui-row {
    position: relative;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // align-content: space-between;
    &.panel {
        justify-content: flex-start;
        align-items: center;
    }
    &.input {
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 2%;
    }
}

.io-list {
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    align-content: space-evenly;
    justify-content: space-between;
    &.display {
        // width: 80%;
        max-width: 80%;
        flex-grow: 70;
    }
    &.input {
        // width: 80%;
        max-width: 90%;
        flex-grow: 70;
    }
}

.icon {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    &.display {
        margin-right: 1%;
        margin-left: 1%;
    }
    &.preset {
        margin-left: 2%;
        padding: 15px;
    }
    &.input {
        margin-right: 1%;
        margin-left: 1%;
    }
}

mat-checkbox {
    &.input {
        margin-right: 5px;
        width: 100px;
        font-size: 11pt;
    }
    &.mic {
        width: 80px;
    }
}

mat-form-field {
    margin-left: 3%;
    margin-right: 3%;
    align-self: flex-end;
}

mat-select {
    padding: 5px;
    .a {
        width: 22%;
        margin: auto;
    }
    .template {
        width: 22%;
        padding-bottom: 2px;
    }
}

mat-label {
    &.icon {
        font-size: 11pt;
    }
}

.row-label {
    margin-left: 3%;
    margin-right: 2%;
    &.short {
        width: 13%;
    }
    &.long {
        width: 20%;
    }
}