@import 'src/db-theme.scss';
.container {
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: space-evenly;
    overflow: hidden;
    // height: 500px;
    max-height: 800px;
    max-width: 800px;
    &:hover {
        overflow: auto;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    &.checkboxes {
        flex-flow: row nowrap;
    }
    .displays {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        width: 85%;
        max-width: 85%;
    }
    &.heading {
        justify-content: space-between;
    }
    &.info {
        flex-flow: row nowrap;
    }
}

.button {
    margin-left: 5px;
    margin-right: 10px;
    &.check-icon {
        margin-left: 0px;
        margin-right: 10px;
    }
}

.field {
    margin-right: 2%;
}

.label {
    margin-right: 2%;
    width: 215px;
    &.short {
        margin-right: 0px;
        margin-left: 10px;
        width: 110px;
    }
}

.display {
    margin-right: 10px;
}

.list {
    display: flex;
    flex-flow: column wrap;
    max-height: 300px;
}