@import 'src/db-theme.scss';
.container {
    width: 100%;
    min-height: 600px;
    height: 755px;
    background-color: white;
    /* width */
     ::-webkit-scrollbar {
        width: 3px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.side {
    // padding: 5px;
    border-right: solid 1px #dbdbdb;
}

.content {
    padding: 0px;
    display: flex;
    // width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    &.main {
        border: solid 1px black;
        display: block;
        width: 100%;
        justify-content: flex-start;
        background-color: white;
    }
}

.action {
    &:hover {
        color: blue;
        cursor: pointer;
    }
}

.menu {
    background-color: white;
    border: solid 1px #dbdbdb;
    &:hover {
        background-color: $warn;
        color: white;
        cursor: pointer;
    }
}

.column {
    display: flex;
    flex-flow: column;
    justify-self: flex-start;
    justify-content: flex-start;
}
