.container {
    width: 100%;
    min-height: 600px;
    height: 755px;
    background-color: #ffffff;
}

.side {
    padding: 5px;
    border-right: solid 1px #f0f0f0;
}

.content {
    padding-left: 40px;
}