<div class="ui-container">
    <div class="ui-row">
        <!-- BUILDING -->
        <mat-form-field class="a" matTooltip="{{S.UITips['bldg_list']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']" *ngIf="!InStepper">
            <mat-label>Building</mat-label>
            <mat-select matInput [(ngModel)]="building " (selectionChange)="getRoomList()">
                <mat-option *ngFor="let b of buildingList " [value]="b ">{{b._id}} ({{b.name}})</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- ROOM -->
        <mat-form-field class="a" *ngIf="building._id != null && roomList.length > 0 && !InStepper" matTooltip="{{S.UITips['room_list']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']">
            <mat-label>Room</mat-label>
            <mat-select matInput [(ngModel)]="room" (selectionChange)="config = blankConfig; getUIConfig();">
                <mat-option *ngFor="let r of roomList" [value]="r">{{r._id}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- TEMPLATE -->
    <div class="ui-row" *ngIf="room._id != null && !configExists && !InStepper">
        <label class="template label">Which template for this room?</label>
        <mat-form-field class="template box">
            <mat-label>Template</mat-label>
            <mat-select matInput [(ngModel)]="currentTemplate" (selectionChange)="config = blankConfig; UpdatePanels()">
                <mat-option *ngFor="let t of templateList" [value]="t" matTooltip="{{t.description}}" [matTooltipShowDelay]=S.Fast [matTooltipPosition]="S.positions['right']">{{t._id}}</mat-option>
                <mat-option [value]="customTemplate">Custom</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- PANEL LIST -->
    <mat-accordion *ngIf="room._id != null && config != null && config.panels != null && config.panels.length > 0" [ngClass]="{ 'accordion': !InStepper, 'accordion wide': InStepper }">
        <mat-expansion-panel *ngFor="let p of config.panels; let i = index;" [expanded]="panelStep === i" (opened)="setStep(i)">
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 550">{{p.hostname}}</mat-panel-title>
                <mat-panel-description>{{p.preset != null && p.preset || S.UIStrings["no preset"]}} | Displays: {{arrayToString(GetPreset(p.preset).displays)}} | Inputs: {{arrayToString(GetPreset(p.preset).inputs)}}</mat-panel-description>
            </mat-expansion-panel-header>

            <app-panel [config]="config" [panel]="p" [preset]="GetPreset(p.preset)" [displays]="displays" [inputs]="inputs" [deviceTypes]="typeList" [deviceList]="deviceList" [mics]="indyAudios"></app-panel>

            <!-- ACCORDION BUTTONS -->
            <mat-action-row *ngIf="i === 0 && panels.length != 1">
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            <mat-action-row *ngIf="i > 0 && i < panels.length-1 && panels.length != 1">
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            <mat-action-row *ngIf="i === panels.length-1 && panels.length != 1">
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="ui-row buttons" *ngIf="room._id != null && config != null && config.panels != null && config.panels.length > 0 && !InStepper">
        <!-- BUTTONS -->
        <button mat-raised-button matTooltip="{{S.UITips['delete']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']" class="ui-button delete" (click)="Delete()" *ngIf="UserHasAdminRights">Delete</button>
        <button mat-raised-button matTooltip="{{S.UITips['submit']}}" [matTooltipShowDelay]=S.Slow [matTooltipPosition]="S.positions['left']" class="ui-button submit" (click)="Submit()">Submit</button>
    </div>
</div>