@import '../../../node_modules/ng2-dnd/bundles/style.css';
@import 'src/db-theme.scss';
.drop-container {
    width: 100%;
    min-height: 100px;
    // border: solid 1px black;
    display: flex;
    flex-flow: column wrap;
}

.drag-container {
    width: 100%;
    border: solid 2px red;
}

.title {
    display: flex;
    justify-content: center;
    color: black;
}

.column {
    width: 17%;
    display: flex;
    flex-direction: column;
    &.group {
        width: 20%;
        margin-top: 15px;
    }
    &.types {
        overflow: auto;
        height: 710px;
    }
}

.box-row {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
    width: 100%;
    &.2 {
        width: 100%;
    }
}

.panel-heading {
    border: solid 1px blue;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
}

.group-button {
    width: 5%;
}

.group-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    overflow: auto;
    width: 82%;
}

.panel-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    padding-top: 10px;
}

.icon-button {
    margin: 5px;
}

.device-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}