<div class="title">
    <h4>Drag & Drop Room Builder</h4>
</div>

<div class="title">
    <mat-form-field>
        <input matInput type="text" placeholder="BLDG-ROOM" [(ngModel)]="location" (blur)="ValidateLocation()">
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<!-- <div class="group-button">
    <button (click)="AddGroup()">Add a new group</button>
</div> -->
<div class="box-row" *ngIf="newRoom">
    <div class="column types">
        <!-- <div class="drag-container" *ngFor="let type of deviceTypeList">
            <div class="panel-heading">Available to drag</div>
            <div class="panel-body">
                <div class="panel panel-default" dnd-draggable [dragEnabled]="true" [dropZones]="['zone1']" [dragData]="type">
                    <div class="panel-body">
                        <button class="icon-button" mat-mini-fab color="accent"><mat-icon>{{D.DefaultIcons[type._id]}}</mat-icon></button>{{type.display_name}}
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="drag-container">
            <div class="panel-heading">Available to drag</div>
            <div class="panel-body">
                <div class="panel panel-default" dnd-draggable [dragEnabled]="true" [dropZones]="['zone1', 'zone2']">
                    <div class="panel-body">
                        <button mat-icon-button><mat-icon>tv</mat-icon></button>TV
                    </div>
                </div>
            </div>
        </div> -->
        <mat-list>
            <h3 mat-subheader>Touchpanels</h3>
            <ng-container *ngFor="let type of deviceTypeList">
                <mat-list-item *ngIf="TypeHasRole(type, 'ControlProcessor')" dnd-draggable [dragEnabled]="true" [dropZones]="['Pi', 'NotPi']" [dragData]="CreateNewDevice(type)">

                    <mat-icon mat-list-icon>{{D.DefaultIcons[type._id]}}</mat-icon>
                    <h3 mat-line>{{type.display_name}}</h3>
                    <!-- <p mat-line> {{folder.updated | date}} </p> -->
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Displays</h3>
            <ng-container *ngFor="let type of deviceTypeList">
                <mat-list-item *ngIf="TypeHasRole(type, 'VideoOut')" dnd-draggable [dragEnabled]="true" [dropZones]="['NotPi']" [dragData]="CreateNewDevice(type)">

                    <mat-icon mat-list-icon>{{D.DefaultIcons[type._id]}}</mat-icon>
                    <h3 mat-line>{{type.display_name}}</h3>
                    <!-- <p mat-line> {{folder.updated | date}} </p> -->
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Inputs</h3>
            <ng-container *ngFor="let type of deviceTypeList">
                <mat-list-item *ngIf="TypeHasRole(type, 'VideoIn')" dnd-draggable [dragEnabled]="true" [dropZones]="['NotPi']" [dragData]="CreateNewDevice(type)">

                    <mat-icon mat-list-icon>{{D.DefaultIcons[type._id]}}</mat-icon>
                    <h3 mat-line>{{type.display_name}}</h3>
                    <!-- <p mat-line> {{folder.updated | date}} </p> -->
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Video Switchers</h3>
            <ng-container *ngFor="let type of deviceTypeList">
                <mat-list-item *ngIf="TypeHasRole(type, 'VideoSwitcher') || TypeHasRole(type, 'AV-IP-Reciever') || TypeHasRole(type, 'AV-IP-Transmitter')" dnd-draggable [dragEnabled]="true" [dropZones]="['NotPi']" [dragData]="CreateNewDevice(type)">

                    <mat-icon mat-list-icon>{{D.DefaultIcons[type._id]}}</mat-icon>
                    <h3 mat-line>{{type.display_name}}</h3>
                    <!-- <p mat-line> {{folder.updated | date}} </p> -->
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Other</h3>
            <ng-container *ngFor="let type of deviceTypeList">
                <mat-list-item *ngIf="!TypeHasRole(type, 'VideoSwitcher') && !TypeHasRole(type, 'AV-IP-Reciever') && !TypeHasRole(type, 'AV-IP-Transmitter') && !TypeHasRole(type, 'VideoIn') && !TypeHasRole(type, 'VideoOut') && !TypeHasRole(type, 'ControlProcessor')"
                    dnd-draggable [dragEnabled]="true" [dropZones]="['NotPi']" [dragData]="CreateNewDevice(type)">

                    <mat-icon mat-list-icon>{{D.DefaultIcons[type._id]}}</mat-icon>
                    <h3 mat-line>{{type.display_name}}</h3>
                    <!-- <p mat-line> {{folder.updated | date}} </p> -->
                </mat-list-item>
            </ng-container>


        </mat-list>
    </div>
    <div class="group-section" dnd-droppable [dropZones]="['Pi']" (onDropSuccess)="AddDeviceToGroup(AddGroup(), $event.dragData)">

        <div class="column group" *ngFor="let g of groupList">
            <mat-card dnd-droppable [dropZones]="['NotPi']" (onDropSuccess)="AddDeviceToGroup(g, $event.dragData)">
                <mat-card-header style="padding-bottom: 10px;">
                    <!-- <div class="box-row"> -->

                    <!-- </div> -->
                    <mat-form-field>
                        <mat-label>Name:</mat-label>
                        <input required matInput type="text" matAutosize="true" [(ngModel)]="g.preset.name">
                    </mat-form-field>
                    <button mat-icon-button style="float: right; padding-bottom: 20px;" (click)="DeleteGroup(g)"><mat-icon>close</mat-icon></button>

                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="panel-body">
                    <ng-container *ngIf="g.devices != null && g.devices.length > 0">
                        <div class="device-info" *ngFor="let d of g.devices; let i = index;" dnd-draggable [dragEnabled]="true" [dropZones]="SetValidDropZones(d)" [dragData]="d" (onDragSuccess)="RemoveFromGroup(g, d)">
                            <button class="icon-button" mat-mini-fab color="accent"><mat-icon>{{D.DefaultIcons[d.type._id]}}</mat-icon></button><span>{{d._id}}</span>
                            <button mat-icon-button style="float: right; color: red" (click)="RemoveFromGroup(g, d); DeleteDevice(d);"><mat-icon>remove_circle_outline</mat-icon></button>
                            <mat-divider *ngIf="i < g.devices.length-1" style="align-self: flex-end;"></mat-divider>
                        </div>
                    </ng-container>

                </mat-card-content>

            </mat-card>
        </div>
        <!-- <div class="column">
            <div dnd-droppable class="drop-container" [dropZones]="['zone1']" (onDropSuccess)="restrictedDrop1=$event.dragData">
                <div class="panel-heading">Zone 1</div>
                <div class="panel-body">
                    <div *ngIf="restrictedDrop1">{{restrictedDrop1._id}}</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div dnd-droppable class="drop-container" [dropZones]="['zone2']" (onDropSuccess)="restrictedDrop2=$event">
                <div class="panel-heading">Zone 2</div>
                <div class="panel-body">
                    <div *ngIf="restrictedDrop2">{{restrictedDrop2._id}}</div>
                </div>
            </div>
        </div> -->

    </div>
</div>