@import 'src/db-theme.scss';
.container {
    display: flex;
    background-color: white;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

.row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    &.buttons {
        justify-content: flex-end;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.chips {
    margin: 8px;
    margin-right: 12px;
}

.button {
    margin: 10px;
    &.delete {
        &:hover {
            background-color: red;
            color: white;
        }
    }
    &.submit {
        background-color: $accent;
        color: white;
        &:hover {
            background-color: $primary;
        }
    }
}