<div [ngClass]="{ 'bldg-container': !InStepper, 'bldg-container-half': InStepper }">
    <mat-tab-group mat-stretch-tabs="always" [selectedIndex]="tabIndex">
        <!-- //////////// -->
        <!-- ADD BUILDING -->
        <!-- //////////// -->
        <mat-tab label="ADD" [disabled]="InStepper && buildingExists">
            <div class="bldg-row">
                <!-- ID -->
                <mat-form-field class="a">
                    <mat-label>ID</mat-label>
                    <input #AID matInput required type="text" [(ngModel)]="addBuilding._id" [errorStateMatcher]="buildingMatcher">
                    <mat-error *ngIf="addIDFormControl.hasError('required')">
                        The building ID is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <!-- NAME -->
                <mat-form-field class="a">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="addBuilding.name">
                </mat-form-field>
            </div>

            <div class="bldg-row">
                <!-- DESCRIPTION -->
                <mat-form-field class="a">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" [(ngModel)]="addBuilding.description">
                </mat-form-field>
                <!-- TAGS -->
                <mat-form-field class="bldg-chip-list">
                    <mat-label style="padding: 2px;">Tags</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of addBuilding.tags" [selectable]="selectable" [removable]="removable" (removed)="RemoveChip(tag, true)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input style="padding: 4px;" matInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="AddChip($event, true)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <!-- BUTTONS -->
            <div class="bldg-row-b">
                <button mat-raised-button class="bldg-button submit" (click)="CreateBuilding()">Submit</button>
            </div>

        </mat-tab>

        <!-- ///////////// -->
        <!-- EDIT BUILDING -->
        <!-- ///////////// -->
        <mat-tab label="EDIT" [disabled]="InStepper && !buildingExists">
            <div class="bldg-row">
                <!-- BUILDING -->
                <mat-form-field class="a" style="margin-left: 39%;">
                    <mat-label>Building</mat-label>
                    <mat-select matInput [(ngModel)]="editBuilding">
                        <mat-option *ngFor="let b of buildingList" [value]="b">{{b._id}} ({{b.name}})</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-divider *ngIf="editBuilding._id != null"></mat-divider>
            </div>

            <div *ngIf="editBuilding._id != null" class="bldg-row">
                <!-- ID -->
                <mat-form-field class="a">
                    <mat-label>ID</mat-label>
                    <input matInput required type="text" [(ngModel)]="editBuilding._id" [errorStateMatcher]="buildingMatcher">
                    <mat-error *ngIf="editIDFormControl.hasError('required')">
                        The building ID is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <!-- NAME -->
                <mat-form-field class="a">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="editBuilding.name">
                </mat-form-field>
            </div>

            <div *ngIf="editBuilding._id != null" class="bldg-row">
                <!-- DESCRIPTION -->
                <mat-form-field class="a">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" [(ngModel)]="editBuilding.description">
                </mat-form-field>
                <!-- TAGS -->
                <mat-form-field class="bldg-chip-list">
                    <mat-label style="padding: 2px;">Tags</mat-label>
                    <mat-chip-list #chipList2>
                        <mat-chip *ngFor="let tag of editBuilding.tags" [selectable]="selectable" [removable]="removable" (removed)="RemoveChip(tag, false)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>

                        <input style="padding: 4px;" matInput [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="AddChip($event, false)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <!-- BUTTONS -->
            <div *ngIf="editBuilding._id != null" class="bldg-row-b">
                <button mat-raised-button class="bldg-button submit" (click)="UpdateBuilding()">Submit</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>