<div class="row">
    <div class="searchbar">
        <mat-icon class="searchbar icon">search</mat-icon>
        <mat-form-field>
            <input matInput [(ngModel)]="searchQuery" (ngModelChange)="Search()">
        </mat-form-field>
    </div>
    <button mat-fab class="add" [matMenuTriggerFor]="addMenu"><mat-icon>add</mat-icon></button>
    <mat-menu #addMenu>
        <button mat-menu-item *ngFor="let t of templateList" (click)="CreateNewRoom(t)">
            <span>{{t._id}}</span>
        </button>
    </mat-menu>
</div>
<div class="container">
    <app-room *ngFor="let r of filteredRooms" [room]="r" [roomExists]="true"></app-room>
</div>