@import 'src/db-theme.scss';
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

.row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    &.buttons {
        justify-content: space-between;
    }
}

.button {
    margin: 10px;
    &.delete {
        color: red;
    }
    &.submit {
        color: $accent;
        &:hover {
            color: $primary;
        }
    }
}

.device {
    margin: 5px;
    &.good {
        color: green;
    }
    &.bad {
        color: red;
    }
    &.count {
        min-width: 30px;
    }
    &.alert {
        color: #FDD835;
    }
}

.display {
    margin: 4px;
    &.icon {
        background-color: #e0e0e0;
        &.on {
            background-color: #3ec515;
            color: white;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}