@import 'src/db-theme.scss';
@mixin db-tool-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
}

.device-container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    margin-top: 2%;
    max-height: 100%;
    width: 78%;
    max-width: 78%;
}

.device-row {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: space-evenly;
    align-items: flex-end;
    &.b {
        justify-content: flex-end;
        float: right;
    }
}

mat-select {
    padding: 5px;
    &.port-select {
        margin-left: 5%;
    }
}

mat-form-field {
    &.a {
        width: 22%;
    }
    &.b {
        width: 10%;
    }
    &.c {
        width: 16%;
    }
    &.device-chip-list {
        padding: 4px;
        width: 22%;
    }
}

.tooltip-para {
    height: auto;
    flex-flow: row wrap;
}

.device-button.submit {
    float: right;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #1d9c43;
    /* border: 1px solid #494949 !important; */
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 5%;
    cursor: pointer;
    width: wrap;
    &:hover {
        color: #ffffff !important;
        background: #f6513b;
        border-color: #f6513b !important;
        transition: all 0.2s ease 0s;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    }
}

.port-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
}

.port-label {
    font-weight: 500;
}

mat-divider {
    position: relative;
    float: left;
    width: 100%;
}