<div class="column">
    <mat-expansion-panel [expanded]="data.device.ports != null && data.device.ports.length == 0" class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>{{data.device._id}}</mat-panel-title>
            <mat-panel-description>Type: {{data.device.type._id}} - Address: {{data.device.address}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <!-- ID -->
            <mat-form-field #deviceID>
                <mat-label>ID</mat-label>
                <input matInput type="text" [(ngModel)]="data.device._id" required>
            </mat-form-field>
            <!-- NAME -->
            <mat-form-field #deviceName>
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="data.device.name" required>
            </mat-form-field>
            <!-- DESCRIPTION -->
            <mat-form-field #deviceDescription>
                <mat-label>Description</mat-label>
                <input matInput type="text" [(ngModel)]="data.device.description">
            </mat-form-field>
        </div>

        <div class="row">
            <!-- DISPLAY NAME -->
            <mat-form-field #deviceName>
                <mat-label>Display Name</mat-label>
                <input matInput type="text" [(ngModel)]="data.device.display_name">
            </mat-form-field>
            <!-- ADDRESS -->
            <mat-form-field #deviceAddress>
                <mat-label>Address</mat-label>
                <input matInput type="text" [(ngModel)]="data.device.address">
            </mat-form-field>

            <!-- TAGS -->
            <mat-form-field class="chips">
                <mat-label>Tags</mat-label>
                <mat-chip-list #deviceTags>
                    <mat-chip *ngFor="let tag of data.device.tags" [selectable]="selectable" [removable]="removable" (removed)="RemoveChip(tag, true)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input type="text" matInput [matChipInputFor]="deviceTags" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="AddChip($event, true)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <div class="row">
            <!-- ROLES -->
            <mat-form-field #deviceRoles>
                <mat-label>Roles</mat-label>
                <mat-select required matInput multiple [(ngModel)]="data.device.roles" (selectionChange)="UpdateRoleLists()" (valueChange)="UpdateRoleLists()">
                    <mat-option *ngFor="let r of data.device.roles" [value]="r">{{r._id}}</mat-option>
                    <mat-option *ngFor="let r of unappliedRoles" [value]="r">{{r._id}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- TYPE -->
            <mat-form-field #deviceType>
                <mat-label>Device Type</mat-label>
                <mat-select required matInput [(ngModel)]="data.device.type._id" (selectionChange)="DeviceTypeChange();">
                    <mat-option *ngFor="let type of data.deviceTypeList" [value]="type._id">{{type._id}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-expansion-panel>


    <mat-divider></mat-divider>

    <h4 *ngIf="data.device.ports != null && data.device.ports.length > 0" style="font-weight: 500;">Port Configuration</h4>

    <div class="row" *ngIf="data.device.ports != null && data.device.ports.length > 0">
        <mat-list *ngIf="HasInPorts(data.device)">
            <h3 mat-subheader *ngIf="HasOutPorts(data.device)">In Ports</h3>
            <ng-container *ngFor="let port of data.device.ports">
                <mat-list-item *ngIf="IsAnInPort(port, data.device.type._id)">
                    <mat-form-field>
                        <mat-select matInput [(ngModel)]="port.source_device" [disabled]="IsAnOutPort(port, data.device.type._id) && port.destination_device != null">
                            <mat-option [value]=null>None</mat-option>
                            <ng-container *ngFor="let i of sourceDevices">
                                <mat-option [value]="i._id" *ngIf="IsAValidOption(i, data.device)">{{i.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <h4 mat-line>{{port.friendly_name}}</h4>
                </mat-list-item>
            </ng-container>
        </mat-list>
        <mat-list *ngIf="HasOutPorts(data.device)">
            <h3 mat-subheader *ngIf="HasInPorts(data.device)">Out Ports</h3>
            <ng-container *ngFor="let port of data.device.ports">
                <mat-list-item *ngIf="IsAnOutPort(port, data.device.type._id)">
                    <h4 mat-line>{{port.friendly_name}}</h4>
                    <mat-form-field>
                        <mat-select matInput [(ngModel)]="port.destination_device" [disabled]="IsAnInPort(port, data.device.type._id) && port.source_device != null">
                            <mat-option [value]=null>None</mat-option>
                            <ng-container *ngFor="let i of destinationDevices">
                                <mat-option [value]="i._id" *ngIf="IsAValidOption(i, data.device)">{{i.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </div>

    <mat-divider *ngIf="data.device.ports != null && data.device.ports.length > 0"></mat-divider>

    <!-- BUTTONS -->
    <div class="row">
        <button mat-button class="button submit" (click)="SubmitDevice()">{{data.deviceExists ? "UPDATE" : "ADD"}}</button>
        <button mat-button class="button delete" (click)="DeleteDevice()" [disabled]="!data.deviceExists">DELETE</button>
        <button mat-button class="button close" (click)="close()">CLOSE</button>
    </div>
</div>