.container {
    display: flex;
    min-width: 350px;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

.row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    &.buttons {
        justify-content: flex-end;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.chips {
    margin: 8px;
    margin-right: 12px;
}

.button {
    margin: 10px;
    &.delete {
        color: red;
    }
    &.submit {}
    &.edit {
        justify-self: flex-end;
        margin-left: 100px;
    }
}

.image {
    height: 218px;
    width: 350px;
}

.room {
    margin: 5px;
    &.good {
        color: green;
    }
    &.bad {
        color: red;
    }
    &.count {
        min-width: 30px;
    }
}

a {
    text-decoration: none;
    color: black;
}