<div class="container">
    <mat-card style="width: 100%">
        <a routerLink="/roomlist/{{building.id}}">
            <mat-card-header>
                <mat-card-title>{{building.id}}</mat-card-title>
                <mat-card-subtitle>{{building.name}}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image [src]="GetImage()" alt="A cool image of the {{building.id}}" class="image">
        </a>
        <mat-card-content>
            <div class="row">
                <a class="row" routerLink="/roomlist/{{building.id}}">
                    <mat-icon class="room good">check_circle_outline</mat-icon>
                    <mat-label class="room count">{{model.buildingAlertsMap[building.id]?.goodCount}}</mat-label>
                    <mat-icon class="room bad">error_outline</mat-icon>
                    <mat-label class="room count">{{model.buildingAlertsMap[building.id]?.alertingCount}}</mat-label>
                </a>
                <button mat-icon-button class="button edit" (click)="OpenBuildingModal()"><mat-icon>more_horiz</mat-icon></button>
            </div>
        </mat-card-content>
    </mat-card>
</div>