<div class="walk-container">
    <mat-horizontal-stepper [linear]="false" #setupStepper>
        <mat-step [stepControl]="locationFormGroup">
            <form [formGroup]="locationFormGroup">
                <ng-template matStepLabel>Location information</ng-template>
                <mat-form-field style="margin: auto; display: block; width: 15%;">
                    <input matInput type="text" placeholder="BLDG-ROOM" [formControl]="locationFormControl" [errorStateMatcher]="locationMatcher">
                    <mat-error *ngIf="locationFormControl.hasError('pattern') && !locationFormControl.hasError('required')">
                        Please put in the format BLDG-ROOM
                    </mat-error>
                    <mat-error *ngIf="locationFormControl.hasError('required')">
                        The building and room info is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button (click)="ValidateLocation(setupStepper);" [disabled]="!locationFormControl.valid || locationDone">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [optional]="true">
            <form>
                <ng-template matStepLabel>Verify location</ng-template>

                <div class="walk-row">
                    <div class="walk-container-half">
                        <app-building [InStepper]="true" [buildingExists]="buildingExists" [editBuilding]="locBuilding" [addBuilding]="locBuilding"></app-building>
                    </div>
                    <div class="walk-container-half">
                        <app-room [InStepper]="true" [roomExists]="roomExists" [addBuilding]="locBuilding" [addRoom]="locRoom"></app-room>
                    </div>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious (click)="prevStep(true)">Back</button>
                    <button mat-raised-button matStepperNext (click)="nextStep(true)">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Device information</ng-template>

            <div class="walk-row-center">
                <label style="padding-bottom: 25px; margin-left: 28%;">Which template for this room?</label>
                <mat-form-field class="c">
                    <mat-label>Template</mat-label>
                    <mat-select matInput [(ngModel)]="currentTemplate" (ngModelChange)="UpdateAccordion(true);">
                        <mat-option *ngFor="let t of templateList" [value]="t">{{t._id}} ({{t.description}})</mat-option>
                        <mat-option [value]="customTemplate">Custom</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="num">
                    <mat-label># of devices</mat-label>
                    <input matInput type="text" [(ngModel)]="deviceListSize" (blur)="UpdateAccordion(false)">
                </mat-form-field>
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let device of fullRoomDeviceList; let i = index;" [expanded]="deviceStep === i" (opened)="setStep(i, false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{device._id}}</mat-panel-title>
                        <mat-panel-description>Type: {{device.type._id}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-device [InStepper]="true" [addDevice]="device" [addBuilding]="locBuilding" [addRoom]="locRoom" [deviceTypeList]="deviceTypeList" [addDeviceList]="fullRoomDeviceList"></app-device>
                    <mat-action-row *ngIf="i === 0">
                        <button mat-button color="primary" (click)="nextStep(false)">Next</button>
                    </mat-action-row>
                    <mat-action-row *ngIf="i > 0 && i < fullRoomDeviceList.length-1">
                        <button mat-button color="warn" (click)="prevStep(false)">Previous</button>
                        <button mat-button color="primary" (click)="nextStep(false)">Next</button>
                    </mat-action-row>
                    <mat-action-row *ngIf="i === fullRoomDeviceList.length-1">
                        <button mat-button color="warn" (click)="prevStep(false)">Previous</button>
                        <button mat-button color="primary" (click)="nextStep(false)">End</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="walk-row">
                <button mat-raised-button matStepperPrevious (click)="prevStep(true)">Back</button>
                <button mat-raised-button (click)="Finish()">Finish</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>