@import 'src/db-theme.scss';
.walk-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 99%;
    overflow: auto;
    max-width: 99%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.walk-container-half {
    background-color: #ffffff;
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
    min-height: 100%;
}

.walk-row {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    width: 100%;
    align-items: flex-start;
    display: flex;
}

.walk-row-half {
    background-color: #ffffff;
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
}

.walk-row-center {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

mat-select {
    padding: 5px;
}

mat-form-field {
    &.a {
        margin-left: 18%;
        width: 22%;
    }
    &.b {
        margin-left: 8%;
        width: 10%;
    }
    &.c {
        margin-left: 2%;
        width: 35%;
        padding-bottom: 2px;
    }
}

mat-horizontal-stepper {
    width: 86%;
    max-width: 86%;
}

.num {
    margin-left: 2%;
    width: 100px;
    padding-bottom: 2px;
}

.button {
    &.finish {
        background: $primary;
        color: #ffffff;
        &:hover {
            background: #49ad49;
            color: black;
            transition: all 0.2s ease 0s;
        }
    }
}