.walk-button-a {
    color: #ffffff !important;
    text-transform: uppercase;
    background: #1d9c43;
    padding: 15px;
    /* border: 1px solid #494949 !important; */
    border-radius: 6px;
    display: inline-block;
    margin-left: 42%;
    margin-bottom: 20px;
    cursor: pointer;
    width: 280px;
}

.walk-button-a:hover {
    color: #000000 !important;
    background: #f6513b;
    border-color: #f6513b !important;
    transition: all 0.2s ease 0s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.walk-button-b {
    color: #ffffff !important;
    text-transform: uppercase;
    background: #0066ff;
    padding: 15px;
    /* border: 1px solid #494949 !important; */
    border-radius: 6px;
    display: inline-block;
    margin-left: 45%;
    margin-bottom: 20px;
    cursor: pointer;
    width: 180px;
}

.walk-button-b:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.2s ease 0s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.walk-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 100%;
    overflow: auto;
    max-width: 2000px;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.walk-container-half {
    /* border-radius: 5px; */
    background-color: #f2f2f2;
    /* padding: 5px; */
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
    min-height: 100%;
}

.walk-row {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    /* margin-bottom: 10px; */
    width: 100%;
    align-items: flex-start;
    display: flex;
}

.walk-row-half {
    /* border-radius: 5px; */
    background-color: #f2f2f2;
    /* padding: 5px; */
    margin: auto;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-width: 50%;
    /* min-height: 100%; */
}

.walk-row-center {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 1%;
    /* margin-bottom: 10px; */
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

mat-select {
    padding: 5px;
}

mat-form-field.a {
    margin-left: 18%;
    width: 22%;
}

mat-form-field.b {
    margin-left: 8%;
    width: 10%;
    /* padding-top: 2px; */
}

mat-form-field.c {
    margin-left: 2%;
    width: 25%;
    padding-bottom: 2px;
}

mat-horizontal-stepper {
    width: 86%;
    max-width: 86%;
}

.num {
    margin-left: 2%;
    width: 100px;
    padding-bottom: 2px;
}